
.table {
    display: flex;
    gap: 10px;
}

.profile-tab{
    display: flex;
    flex-direction: column;
    position: relative;
    height: auto;
    width: 20%;
    max-width: 80%;
    background-color: lightgreen;
    padding: 15px;
    border-radius: 10px;
}

.bio {
    display: flex;
    flex-direction: column;
    position: relative;
    height: auto;
    width: 20%;
    max-width: 80%;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    gap: 10px;
}

.header{
    display: flex;
    width: 100%;
    height: auto;
    min-height: 2em;
    min-width: fit-content;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.profile-pic{
    background-image:url('data/default-pfp.png');
    object-fit: contain;
    max-width: 100%;
    max-height: auto;
    height: 130px;
    width: 130px;
    border: 3px solid #364b46;
    border-radius: 35%;
}

.view-tab {
  display: flex;
  flex-direction: column; 
  align-items: center;    
  width: 100%;
  background-color: lightgray;
  border-radius: 10px;
  padding: 20px;
  gap: 20px;
}

.edit{
    cursor: pointer;
    border: none;
    width: auto;
    height: 30px;
    max-width: auto;
    background-size: 100% 100%;
}

.samplebox{
    display: flex;
    background-color: #ADEBB3;
    height: auto;
    width: auto;
    max-width: 80%;
    max-height: 300px;
    justify-content: center;
    align-items: center;
    font-style: italic;
    border-radius: 10px;
    border: 2px solid #364b46;
    padding: 1vmax;
    flex-wrap: wrap;
}
