<div class="login-register">
  <div class="form-container">
    <div>
      <h2>Login</h2>
      <form id="login-form" action="#" method="post">
        <label class="dropme" for="email">DLSU Email</label>
        <input class="dropme-input" type="email" id="email" name="email" required />

        <label class="dropme" for="password">Password</label>
        <input class="dropme-input" type="password" id="password" name="password" required />

        <button id="login-button" type="submit">Log In</button>
      </form>

      <div class="after-form">
        <label for="remember">Remember Me</label>
        <input type="checkbox" id="remember" name="remember" />
        <p>Don't have an account? <a href="/register">Register here</a></p>
      </div>
    </div>
  </div>
</div>